@CHARSET "ISO-8859-1";
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  background-color: #CCFFFF; 
  height: 100px;
  margin:50px;
 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor:pointer;
}

.container {
  padding: 2px 16px;
}

 .slide-fwd-center{
	-webkit-animation:slide-fwd-center .45s cubic-bezier(.25,.46,.45,.94) both;
	animation:slide-fwd-center .45s cubic-bezier(.25,.46,.45,.94) both;
	}
	 
@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}